.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-color: rgb(239, 243, 244);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
}
.postTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.postCategory {
  margin-right: 8px;
  background-color: rgb(235, 235, 235);
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 0.8rem;
  color: rgb(54, 54, 54);
}
.postDate {
  color: rgb(83, 100, 113);
  font-size: 0.9rem;
}
.postUserNick {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  color: #6e6e6e;
}
.postLike {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  font-size: 0.9rem;
}