.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100dvw;
  height: 100dvh;
}
.headerWrapper {
  width: 1224px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}
.headerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerBottom ul {
  display: flex;
  flex-direction: row;
}
.headerBottom li {
  list-style: none;
}
.mainWrapper {
  width: 1224px;
  margin-left: auto;
  margin-right: auto;
}